@import '@material/button/mixins';
@import 'assets/styles.scss';

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $mdc-theme-primary;
  background: radial-gradient(
    circle,
    lighten($mdc-theme-primary, 10%),
    darken($mdc-theme-primary, 5%)
  );
}

.sign-in__content {
  display: flex;
  flex-direction: column;
  width: 80%;

  @include breakpoint(tablet) {
    width: 60%;
  }
  @include breakpoint(desktop) {
    width: 20%;
  }
}

.sign-in__logo {
  max-width: 100%;
  max-height: 100%;
}

.sign-in__button-group {
  display: flex;
  flex-direction: column;

  button {
    margin: 5px 0;
  }

  .facebook-button {
    @include mdc-button-container-fill-color($facebook-blue);
  }

  .twitter-button {
    @include mdc-button-container-fill-color($twitter-blue);
  }

  .google-button {
    @include mdc-button-container-fill-color($google-red);
  }
}
